@import '@/style/index.scss';


.title-box {
  height: rem(88);
  background-color: #fff;
  border-bottom: 1px rgba(216, 216, 216, 0.5) solid;

  // align-content: center;
  .shutDown-img {
    margin: rem(22);
    height: rem(44);
    width: rem(44);
  }


  .title-text {
    display: flex;
    color: #212121;
    font-size: rem(30);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: rem(568);
  }
}

.body-box {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: rem(28);
  padding: rem(48);
  color: #666666;

  &-text {
    color: #212121;
    font-size: rem(32);
    margin-bottom: rem(32);
  }

  .table-style {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: rem(40);

    td {
      height: rem(80);
      margin: 0;
      width: 50%;
      border: 1px #cccccc solid;
    }

    .th-style {
      background: #D3A664;
      color: #fff;
    }
  }
}
