@import "@/style/index.scss";

.body {
  overflow-y: scroll;
}

.title-box {
  height: rem(88);
  border-bottom: 1px rgba(216, 216, 216, 0.5) solid;

  .back-img-box {
    line-height: rem(88);
  }

  .back-img {
    margin-left: rem(32);
    width: rem(32);
    height: rem(32);
  }

  .title-text {
    margin-left: rem(250);
    line-height: rem(88);
    color: #212121;
    font-size: rem(36);
  }
}

.iframe-box {
  min-width: 100%;
  min-height: 100%;
  height: rem(1334);
  width: rem(750);
  overflow-y: scroll;
}

.iframe {
  min-width: 100%;
  min-height: 100%;
  height: rem(1334);
  width: rem(780);
  overflow-y: scroll;
  margin-bottom: rem(88);
}
